@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "GetCommentByBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>YORUMLAR</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı</th>
        <th>Yorum</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.UserName </td>
                    <td>@item.CommentText</td>
                </tr>
            }

</table>


