@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "AdminCommentList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="card-body">
                                <!-- Post -->
                        @foreach (var item in Model)
                        {


                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="~/AdminLTE-3.0.4/dist/img/user1-128x128.jpg" alt="user image">
                                        <span class="username">
                                            <a href="#">@item.UserName - @item.Blogs.BlogTitle </a>
                                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                        </span>
                                        <span class="description">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        @item.CommentText
                                    </p>

                                    <p>
                                        
                                        <span class="float-right">
                                            <a href="#" class="link-black text-sm">
                                                <i class="far fa-comments mr-1"></i> Yorumu Kaldır
                                            </a>
                                        </span>
                                        <br />
                                    </p>

                                  
                                </div>
                        }
                            </div>

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>


